@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgb(230, 230, 230);
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    z-index: 100;
}
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 30px 50px;
    text-decoration: none;
    font-size: 110%;
}
.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}
.navbar .container img {
    margin-left: 20px;
    float: left;
    width: 250px;
    height: 80px;
    object-fit: cover;
    image-rendering: auto;
}
.wrapper {
    height: 100%;
    word-spacing: 4px;
    letter-spacing: 1px;
    background-color: rgb(230, 230, 230);
}
.fixed-bg {
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    width: 100%;
    text-align: center;
    display: table;
}
.fixed-bg h1{
    display: table-cell;
    vertical-align: middle;
    font-size: 300%;
}
.moving-bg{
    height: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    width: 100%;
}
.black-bg {
    height: 100%;
    width: 100%;
    background-color: black;
    background-size: cover;
    color: white;
}
.bg-1 {
    background-image: url(bg1.jpeg)
}
.bg-2 {
    background-image: url(bg2.jpeg);
}
.bg-3 {
    background-image: url(bg3.jpg);
}
.scroll-bg1 {
    background-color: white;
    margin: auto;
    margin-top: 60px;
    min-width: 800px;
    max-width: 1100px;
    border-radius: 20px;
    word-spacing: 1px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.scroll-bg1 h2 {
    text-align: center;
    padding: 40px;
    padding-top: 80px;
    font-size: 200%;
}
.scroll-bg1 p {
    margin: 20px 60px;
}
.scroll-bg2 h1 {
    color: white;
}
.timeline {
    background: var(white);
    margin: 20px auto;
    padding: 20px;
}
.card {
    justify-content: center;
    position: relative;
    max-width: 1000px;
}
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #1F97FD;
}
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}
.card:nth-child(even)::before {
    right: 0;
    top: 0px;
    bottom: 0px;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}
.info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: gray;
    border-radius: 10px;
    padding: 10px;
    min-height: 250px;
}
.title {
    color: #1F97FD;
    position: relative;
    margin: 20px;
}
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid #1F97FD;
}
.card:nth-child(even) > .info > .title {
    text-align: right;
}
.card:nth-child(odd) > .info > .title::before {
    left: -65px;
}
.card:nth-child(even) > .info > .title::before {
    right: -65px;
}
.scroll {
    background-color: #0f0d0d;
}
.scroll .container {
    height: 200px;
    width: 200px;
    position: center;
    float: center;
    margin: auto;
}
.scroll .container img {
    height: 250px;
    object-fit: cover;
    image-rendering: auto;
    overflow: hidden;
    margin: auto;
}
.scroll .content {
    margin-top: 200px;
    color: white;
}
.scroll-bg1 span.me {
    text-orientation: sideways-right;
    font-size: 200%;
    font-weight: bold;
}
.scroll-bg1 span.me text {
    fill: url(bg2.jpeg);
}
@media (max-width: 950px) {
    .navbar a {
        
    }

}