.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);

}
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 30px 50px;
    text-decoration: none;
    font-size: 110%;
}
.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}
.navbar .container img {
    margin-left: 20px;
    float: left;
    width: 250px;
    height: 80px;
    object-fit: cover;
    image-rendering: auto;
}
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(230, 230, 230);
    font-family: 'Inter', sans-serif;
}
.wrapper {
    height: 100%;
    
    word-spacing: 4px;
    letter-spacing: 1px;
}
.fixed-bg {
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    width: 100%;
    text-align: center;
    display: table;
}
.fixed-bg h1{
    display: table-cell;
    vertical-align: middle;
    font-size: 300%;
}
.bg-1 {
    background-image: url(bg1.jpeg)
}
.bg-2 {
    background-image: url(bg2.jpeg);
}
.scroll-bg1 {
    background-color: white;
    margin: 80px 80px;
    border-radius: 20px;
}
.scroll-bg1 h2 {
    text-align: center;
    padding: 40px;
    padding-top: 80px;
}
.scroll-bg1 p {
    margin: 20px 60px;
    padding-bottom: 1000px;
}